---
---

<h1>¿dónde y cuándo?</h1>

<h2>Taller abierto de Bicis</h2>
<p>
    Martes 18 a 20hs; <br>
    Miércoles, jueves y viernes de 9 a 12hs <br>
    en Centro Verde Yerbal (Yerbal 1419, Caballito) <br>
    Espacio de auto-reparación articulado en la Cooperativa RUO. <br>
</p> 


<h2>Otras alianzas: </h2>

<h3>Curso "Mecánica de bicicletas"</h3>
<p>
    Trayecto pedagógico anual gratuito. <br>
    Preinscripciones abiertas para 2025.
</p>

<p>
    Martes 14 a 18 <br>
    en CFP N°24  (Morón 2538, Flores)
</p>

<h3>Taller móvil con “Club de Reparadores”</h3>